@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Россия, Г. Киров<br />
</address>

<address>
    <strong>Поддержка:</strong>   IoganVII@yandex.ru <br />
</address>