@{
    ViewBag.Title = "Играть";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Регистрация: </p>

<input type="text" name="first_name" required="required" placeholder="Логин">
<br />
<br />
<input type="password" name="password" placeholder="Пароль"  required="required">
<br />
<br />
<input type="submit" name="Button_register" value="Зарегестрироваться">