<div class="chat-window">
    <div class="chat-header">
        <input class="btn btn-success chat-button" type="button" value="Show Chart" id="Show-chat" />
    </div>

    <div class="js-chat-body hidden">
        <label for="displayname">Name:</label>
        <input class="form-control" type="text" id="displayname" disabled value="@ViewBag.name" />
        <label for="message">Message: </label>
        <input class="form-control" type="text" id="message" />
        <input class="btn btn-success" type="button" id="sendmessage" value="Send Message" />
        <div>
            <textarea id="discussion" readonly>

            </textarea>
        </div>
    </div>
</div>