<input hidden value="" id="idRoom" />
@{
    ViewBag.Title = "BotGame";
}

<script src="~/Scripts/room-hub.js"></script>

<img id="saveC0" src="~/Image/С0.PNG" hidden />
<img id="saveC1" src="~/Image/С1.PNG" hidden />
<img id="saveC2" src="~/Image/С2.PNG" hidden />
<img id="saveC3" src="~/Image/С3.PNG" hidden />
<img id="saveC4" src="~/Image/С4.PNG" hidden />
<img id="saveC5" src="~/Image/С5.PNG" hidden />
<img id="saveC6" src="~/Image/С6.PNG" hidden />
<img id="saveC7" src="~/Image/С7.PNG" hidden />

<img id="saveK0" src="~/Image/К0.PNG" hidden />
<img id="saveK1" src="~/Image/К1.PNG" hidden />
<img id="saveK2" src="~/Image/К2.PNG" hidden />
<img id="saveK3" src="~/Image/К3.PNG" hidden />
<img id="saveK4" src="~/Image/К4.PNG" hidden />
<img id="saveK5" src="~/Image/К5.PNG" hidden />
<img id="saveK6" src="~/Image/К6.PNG" hidden />
<img id="saveK7" src="~/Image/К7.PNG" hidden />

<div id="enemySpace">
    <img id="e0" src="~/Image/0.PNG" width="130" height="200" style="position:relative; top:-120px; left:10px" />
    <img id="e1" src="~/Image/0.PNG" width="130" height="200" style="position:relative; top:-120px; left:10px" />
    <img id="e2" src="~/Image/0.PNG" width="130" height="200" style="position:relative; top:-120px; left:10px" />
    <img id="e3" src="~/Image/0.PNG" width="130" height="200" style="position:relative; top:-120px; left:10px" />
    <img id="e4" src="~/Image/0.PNG" width="130" height="200" style="position:relative; top:-120px; left:10px" />
    <img id="e5" src="~/Image/0.PNG" width="130" height="200" style="position:relative; top:-120px; left:10px" />
    <img id="e6" src="~/Image/0.PNG" width="130" height="200" style="position:relative; top:-120px; left:10px" />
    <img id="e7" src="~/Image/0.PNG" width="130" height="200" style="position:relative; top:-120px; left:10px" />
</div>

<div id="battleSpace">
    <div id="EnemyBattleSpace">
        <img id="eb0" width="110" height="150" style="position:relative; top:25px" />
        <img id="eb1" width="110" height="150" style="position:relative; top:25px" />
        <img id="eb2" width="110" height="150" style="position:relative; top:25px" />
        <img id="eb3" width="110" height="150" style="position:relative; top:25px" />
        <img id="eb4" width="110" height="150" style="position:relative; top:25px" />
        <img id="eb5" width="110" height="150" style="position:relative; top:25px" />
        <img id="eb6" width="110" height="150" style="position:relative; top:25px" />
        <img id="eb7" width="110" height="150" style="position:relative; top:25px" />
    </div>
    <div id="PlayerBattleSpace">
        <img id="pb0" width="110" height="150" style="position:relative; top:25px" />
        <img id="pb1" width="110" height="150" style="position:relative; top:25px " />
        <img id="pb2" width="110" height="150" style="position:relative; top:25px " />
        <img id="pb3" width="110" height="150" style="position:relative; top:25px" />
        <img id="pb4" width="110" height="150" style="position:relative; top:25px" />
        <img id="pb5" width="110" height="150" style="position:relative; top:25px" />
        <img id="pb6" width="110" height="150" style="position:relative; top:25px " />
        <img id="pb7" width="110" height="150" style="position:relative; top:25px " />
    </div>
</div>

<div id="PlayerSpace">
    <img id="0" src="" width="130" height="180" style="position:relative; top:40px" />
    <img id="1" src="" width="130" height="180" style="position:relative; top:40px" />
    <img id="2" src="" width="130" height="180" style="position:relative; top:40px" />
    <img id="3" src="" width="130" height="180" style="position:relative; top:40px" />
    <img id="4" src="" width="130" height="180" style="position:relative; top:40px" />
    <img id="5" src="" width="130" height="180" style="position:relative; top:40px" />
    <img id="6" src="" width="130" height="180" style="position:relative; top:40px" />
    <img id="7" src="" width="130" height="180" style="position:relative; top:40px" />
</div>




@Html.Partial("~/Views/Play/PlayerPoint.cshtml")