@model IEnumerable<Scottish_duel.Models.RegisterModel>
@{
    ViewBag.Title = "Вы можете зарегестрироваться";
}


<div>
    <table>
        <tr class="header">
            <td><p>Логин</p></td>
            <td><p>Пароль</p></td>
        </tr>
        @foreach (Scottish_duel.Models.RegisterModel b in Model)
        {
            <tr>
                <td><p>@b.Login</p></td>
                <td><p>@b.Password</p></td>
            </tr>
        }
    </table>
</div>


<h2>See</h2>

